iframe {
  height: 100%;
  width: 100%;
}
section {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}
.gear {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: auto;
  cursor: pointer;
}
